body {
    color:#fff;
    font-family: 'Panton',sans-serif;
}
.primary-menu {
    background: #0f0f12;
    font-size: 1.2em;
    padding-top:10px;
    margin-bottom: -135px;
    height: 105px;
}
.logo {
    font-size: 25px;
}

.logo a {
    color: #fff;
}

.logo a:hover {
    color: #fff;
    text-decoration: none;
}
.navbar {
    background-color: #0f0f12;
    border: none;
    position: relative;
    top: -8px;
}

.logo, .primary-nav {
    position: relative;
    top: 8px;
}
.nav a{
    color:#fff !important;
}

.nav a:hover {
    font-weight: bold;
}

.top {
    background: url(../images/bg.jpg) no-repeat center center;
    height: 900px;
    margin-bottom: -135px;
}
.top > div {
    padding: 50px 0;
}
.winner-circle img{
    border: 3px solid #FF0002;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.winner-box {
    position: relative;
    top: 80px;
}
.circle-border {
    width: 400px;
    height: 400px;
    border: 3px solid #FF0002;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.circle {
    width: 380px;
    height: 380px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    border: 3px solid yellow;
    background-color: rgba(0,0,0,0.3);
    position: relative;
    top: 8px;
    margin: 0 auto;
    padding: 38% 0;
}

.circle .count {
    padding-top: 45px;
    font-size: 18px;
}
.button-1 {
    border: 2px solid #FF0002;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 9px;
    width: 200px;
    font-weight: bold;
    font-size: 1.4em;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    position: relative;
    left: -30px;
}
.arrow-down {
    margin: 10px 0 0 190px;
}
.arrow-down img{
    display: block;
    margin-bottom: -3px;
}
@media screen and (max-width: 720px) {
    .winner-box {
        top: 80px;
        right: 100px;
        margin: 0 auto;
    }
    .winner-box h4 {
        margin-left: 190px;
    }
    .circle-border {
        width: 280px;
        height: 280px;
        margin:0 auto;
    }
    .circle {
        width:260px;
        height: 260px;
    }

    .circle .count{
        padding-top: 15px;
    }

    .button-1 {
        left: -5px;
    }
}
.haze img, .haze p {
    display: inline-block;
}

.haze {
    background: linear-gradient(#ebeff2, #e4e8ea);
    height: 70px;
    width: 70%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 8px 0 0 8px;
    border-bottom: 2px solid #c3cacd;
    color: #000;
    margin-bottom: 40px;
}

@media only screen and (min-width: 1900px) {
    .haze {
        margin-right: 80px;
    }
}
.round {
    background:url(../images/space.jpg) no-repeat center center;
    margin: 0 auto;
    width: 102.3% !important;
    position: relative;
    left: -15px;
}

.round-box {
    background-color: rgba(255,255,255,0.2);
    padding: 15px;
}
.stats {
    color: #000;
    padding: 20px 0;
}
.stats span {
    font-size: 30px;
    font-weight: bold;
    color: #ed2c27;
    position: relative;
    top: -20px;
}
.stats div:nth-child(1) p:before {
    content: url("../images/users.png");
    display: block;
}
.stats div:nth-child(2) p:before {
    content: url("../images/calendar.png");
    display: block;
}
.stats div:nth-child(3) p:before {
    content: url("../images/top.png");
    display: block;
}
.stats div:nth-child(4) p:before {
    content: url("../images/star.png");
    display: block;
}

.stats2 {
    background-color: #F3F0F8;
    color: #000;
    padding-bottom: 50px;
}

.stats2 h3:after {
    content: "///////////////////////////////////////////////////////////////////////////////";
    color: #fff;
    font-size: 1.3em;
    width: 50%;
    letter-spacing: -9px;
    padding-left: 15px;
}

.stats2 .player img, .stats2 .player p {
    display: inline-block;
}
.stats2 .player{
    background: linear-gradient(to right,#EBE8F0,#ffffff);
    margin-bottom: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.stats2 .player img{
    border: 3px solid #FF0002;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    top: -7px;
    left: 5px;
}
.stats2 .player p {
    padding: 10px 0 0 10px;
    position: relative;
    top: 5px;
    text-align: center;
    font-style: italic;
}
.stats2 .player > .pull-right{
    font-size: 2.2em;
    color: #ed2c27;
    padding-right: 15px;
    font-style: normal;
}
.stats2 .player .nickname {
    font-size: 1.2em;
    font-style: normal;
}
.stats2 .player .nickname:after {
    content: url(../images/arrow-down.png);
    padding: 0 0 0 5px;
    position: relative;
    top: -2px;
}
.skins {
    width: 40%;
    display: inline-block;
}

.skins:nth-child(odd) {
    margin-left: 30px;
}

.skins .img-skin {
    width: 100px;
    height: 100px;
    background-color: #141419;
    border: 4px solid #FF0002;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.skins .img-skin, .skins .desc {
    display: inline-block;
}

.skins .desc {
    padding-left: 15px;
    position: relative;
    top: -25px;
    text-align: center;
}

.skins .desc p {
    line-height: 10px;
}
.skins .desc p:nth-child(2) {
    font-weight: 500;
}
.skins .desc p:nth-child(1) {
    font-size: 1.7em;
    color: #ed2c27;
    font-weight: bold;
}
@media screen and (max-width: 720px) {
    .skins .img-skin {
        margin-left: 10px;
    }
    .skins .desc {
        margin-top: 30px;
    }

    .stats2 .player > .pull-right {
        font-size: 1.5em;
        padding-right: 0;
    }
    
    .round {
        width: 100%;
        left: 0;
    }

    .primary-menu {
        padding-bottom: 10px;
    }
}
.footer {
    background-color: #0f0f12;
    padding: 30px;
    font-size: 1.2em;
}

.round > .text-center {
    overflow: auto;
}

.round > .round-box {
    width: max-content;
}